body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main{
    text-align: center;
}

.caixa{
    width: 80px;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}